@font-face {
    font-family: 'Couturier-Regular';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/couturier-regular-webfont.woff") format('woff');
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
    font-family: 'Couturier-Regular', Arial, sans-serif;
    font-size: 16px;
}

.wrapper {
    width: 380px;
    padding: 0 0 100px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    margin: 60px auto 0 auto;
}

.subheader p {
    margin: 0;
    padding: 0;
    font-size: 2.250rem;
    line-height: 74px;
    height: 74px;
    text-align: center;
    color: #fff;
}

.links {
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: center;
    justify-content: center;
}

.links-box {
    width: 280px;
    height: 74px;
    padding: 0;
    margin: 12px 0;
    border: 1px solid #fff;
}
.links-box a,
.links-box a:hover {
    margin: 0;
    padding: 0;
    font-size: 2.250rem;
    line-height: 74px;
    height: 74px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
}